.date {
    display: flex;
    flex-direction: column;
    text-align: left;
    opacity: 50%;
    position: fixed;
    padding: 4px;
    z-index: 99999;
  }

  .date p {
    margin: 0;
    text-shadow: 2px 2px 5px black;
  }