    .introWrap {
    width: 85%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    margin: 0 5%;
  }
  
  .introBox {
    border: 1px solid black;
    width: 50%;
    padding: 2%;
  }
  
  .introWrap img {
    max-width: 100%;
  }

  .headerWrap {
    height: 20rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .headerWrap h1 {
    font-size: 64px;
  }

  .header img {
    max-width: 300px;
  }

.learnBtn {
  width: 200px;
  height: 75px;
  color: white;
  border: 3px solid white;
  border-radius: 3px;
  font-size: 20px;
}

.learnBtn:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
  scale: 1.2;
}

  .divBox {
    border: solid black 1px;
    width: 85%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2%;
  }

  #divBox2 {
    margin-left: 6%;
  }

  #divBox3 {
    margin-left: 12%;
  }

  /* MOVE THIS LEFT */
  .date {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
  }

  .projects {
    width: 85%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5%;
  }

  .projBoxContain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }

  .projBox {
    border: solid black 1px;
    width: 30%;
    height: 300px;
  }

  .projBox:hover {
    opacity: 50%;
    transition: 0.3s;
  }

  .projects img {
    width: 90%;
  }