Footer {
    color:white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footerWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.footerBox {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

.footerBox img {
    width: 100px;
    height: 100px;
}

.footerBox:nth-child(n+2){
    margin-left: 5%;
  }

.footerBox img:hover {
    transition: 0.3s;
    scale: 1.2;
}

Footer p {
    opacity: 50%;
    font-size: 20px;
}

@media (max-width: 800px){
    .footerBox img {
        width: 100%;
    }
}