Footer {
    color:white;
    text-align: center;
}

.footerWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
}

.footerBox {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

.footerBox img {
    width: 100px;
    height: 100px;
}

.footerBox:nth-child(n+2){
    margin-left: 5%;
  }

.footerBox img:hover {
    transition: 0.3s;
    scale: 1.2;
}