.linkBtn {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 75px;
    color: white;
    border-radius: 3px;
    font-size: 20px;
}

.btnDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnDiv:hover {
    transition: 0.3s;
  }

  .btnDiv img {
    max-width: 90%;
  }