.App {
    margin: 0 auto;
}
* {
    background-color: #282c34;
}

.Contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 1vmin);
    color: white;
    align-items: center;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: pink;
  }