.App {
    margin: 0 auto;
}

.Homepage, Footer {
  background-color: #262d36;
}

.Contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 1vmin);
    color: white;
    align-items: center;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: pink;
  }

@media (max-width: 800px){
    .footerBox img {
        width: 100%;
    }

    .Homepage p {
      font-size: 20px;
    }

    .Homepage {
      padding: 2%;
    }
    
    /* .projBox {
      max-height: 70dvh;
    } */

    .titles {
      margin: 0 10%;
    }
    .siteWrap {
      display: flex;
      flex-direction:column;
      width: 100%;
  }
  .siteBox:nth-child(n+2) {
      margin-top: 3px;
      margin-left: 0;
    }
    
}