.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: white;
  align-items: center;
}

.introWrap {
  width: 75%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: 5%;
}

.introBox {
  border: 1px solid black;
  width: 50%;
  padding: 2%;
}

.introWrap img {
  max-width: 300px;
}

.siteWrap {
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.siteBox {
  border: 1px solid black;
  height: 75%;
}